@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ADD8E6;
  font-family: Poppins;
  font-weight: bold;
}

.container {
  height: auto;
  width: 325px;
  border: 1px solid #87CEEB;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background: #F0F8FF;
  border-radius: 10px;
}

h1,
p {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #87CEEB;
}

p {
  margin: 0 0 10px 0;
}

label,
input {
  display: block;
  margin: 5px;
  color: #87CEEB; 
}

input {
  padding: 5px;
  width: 200px;
  height: 20px;
  background: #F0F8FF;
  outline: none;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ADD8E6;
  font-weight: bold;
}

#result {
  width: 200px;
  height: 20px;
  border: none;
  border-bottom: 2px solid #ADD8E6;
  margin: 5px;
  padding: 5px;
  background: #F0F8FF;
  color: #87CEEB; 
  font-size: 16px;
}

button {
  padding: 5px;
  margin: 5px;
  height: 40px;
  width: 212px;
  background: #87CEEB;
  border: 1px solid #87CEEB;
  border-radius: 5px;
  color: #F0F8FF;
  font-size: 16px;
  font-weight: bold;
}